<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
   <appSettings>
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    </appSettings>
  
	<connectionStrings>
  <add name="db_connConnectionString" connectionString="Data Source=Aditya-pc\SQLEXPRESS;Initial Catalog=db_conn;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="db_connConnectionString2" connectionString="Data Source=LAPTOP-532R9ILL\SQLEXPRESS;Initial Catalog=db_conn;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="db_connConnectionString3" connectionString="Data Source=Niraj-PC;Initial Catalog=db_conn;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <system.web>
  
   
		<compilation debug="true" targetFramework="4.0"/>
		<httpRuntime targetFramework="4.5"/>
	</system.web>
  
 

</configuration>
